html, body { height: 100%; }
body { background-color: #efefef; }
blockquote { border-left-color: #ccc; font-size:14px; }
p { letter-spacing: .02em; }

.page {
	// padding-top:40px;
	height:100%;
	filter:none;
	z-index:1;
}

h2 a:hover, h3 a:hover { text-decoration: none;font-weight:bold; }
h3.top { margin-top: 0; }
h2 { clear:both; }
h3 { clear:both; }

.navbar-brand {
	font-family: $headings-font-family;
}

.cover-photo-bg {
	min-height: 400px;
	height: 40%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index: -2;
	background-color:#333;
}

.cover-photo {
	min-height: 400px;
	height: 40%;
	width:100%;
	background-position: center center;
	background-size: cover;
	position:absolute;
	top:0;
	left:0;
	z-index: -1;
}

.cover-container {
	height: 40%;
	min-height: 400px;
	position:relative;
}

.body-content {
	background-color:#efefef;
}

.blur { 
	filter: blur(10px);
}

.thumb {
	height: 150px;
	width: 200px;
}

span.link { color:#337ab7; }
a:hover span.link { color: #23527c; text-decoration:underline; }


.navbar-inverse {
	background-color:rgba(51,51,51,.95);
	-webkit-transition: border-bottom .2s ease-in-out;
	-moz-transition: border-bottom .2s ease-in-out;
	-ms-transition: border-bottom .2s ease-in-out;
	-o-transition: border-bottom .2s ease-in-out;
	transition: border-bottom .2s ease-in-out;
	
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.navbar-clear { 
	background:none;
	background-color:none;
	border-bottom:none;
}

.navbar-brand {
	opacity: 1;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;	
}

@media(max-width:425px) {
	.navbar-brand {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width:400px;
	}
}

@media(max-width:400px) {
	.navbar-brand {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width:375px;
	}
}

@media(max-width:320px) {
	.navbar-brand {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width:300px;
	}
}

.navbar-clear .navbar-brand { color:#efefef; opacity: 0; }
.navbar-clear .navbar-brand:hover { color:#fff; }
.navbar-clear .navbar-nav>li>a { color:#ddd; }
.navbar-clear .navbar-nav>li>a:hover { color:#fff; }

.navbar-clear .navbar-clear-all { opacity:0; }

.jumbotron { background:none;color:#fff; }
.jumbotron h1 { margin-bottom: 0; }
.jumbotron h4 { margin-top: 0; }

.jumbotron-content { padding-top: 2em; }
.jumbotron-content h1,.jumbotron-content h2, .jumbotron-content h3, .jumbotron-content h4 {
	text-shadow: 1px 1px 2px #333;
}

.center-block {
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
.center-block>h1 { padding-top:.4em;}

@media(max-width:1200px) {
	.center-block {
		width:60%;
	}
	.center-block>h1 { padding-top:.3em;}
}

@media(max-width:1000px) {
	.center-block {
		width:75%;
	}

	.center-block>h1 { padding-top:0;margin-top:0;}
}

@media(max-width:900px) {
	.center-block {
		width:80%;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.center-block {
		width:90%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;	
	}
	
	.shark-fin.profile {
		float:none !important;
		margin-left:auto;
		margin-right:auto;
	}
}

.baseline-nav {
	position:absolute;
	bottom:0;
	height:50px;
	line-height:50px;
	vertical-align:middle;
	width:100%;
	background-color:rgba(51,51,51,.7);
	color:#fff;
}

.baseline-link {
	display:inline-block;
	text-align:center;
	
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.baseline-link:link,.baseline-link:visited {
	color:#dfdfdf;
}

.baseline-link:hover {
	background-color:rgba(91,91,91,.9);
	color:#fff;
	text-decoration: none;
}

.shark-fin {
	height:10em;
	width:10em;
	border-top-left-radius: 100em;
}

.shark-fin-l {
	height:10em;
	width:10em;
	border-top-right-radius: 100em;
}

.profile {
	background:url("../images/profile.jpg") no-repeat center center;
	background-size:100%;
	margin-right: 1em;
	border: solid 1px #fff;
}

.post-snippet,.post-snippet:link,.post-snippet:visited {
	display: block;
	background:#fff;
	border: solid 1px rgba(0,0,0,.09);
	padding: 0 0 2em 0;
	border-radius: .5em;
	margin-top: 2em;
	margin-bottom: 2em;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	color:#333;
}

.post-snippet:hover {
	border: solid 1px rgba(0,0,0,.15);
	box-shadow: 0 1px 4px rgba(0,0,0,.08);
	color:#333;
}

.post-snippet-title, .post-snippet-body, .post-snippet-subtitle {
	padding: 0 1em;
}

.post-snippet-title h2 {
	font-size:22px;
	text-align: center;
}

.post-snippet-title h4, .post-snippet-subtitle h4 {
	font-size:14px;
}

.post-snippet-subtitle .tags {
	text-align: right;
}

.post-snippet-subtitle .tags .glyphicon {
	font-size:.8em;
	color:#999;
	padding-right:2px;
}

.post-snippet-bg {
	background-position: left center;
	height: 120px;
	background-repeat: no-repeat;
	background-size: cover;
}

.post-snippet:hover .post-snippet-bg {
	filter: blur(1px);
}

.post-photos {
	clear:both;
	float:right;
}

.post-photos.left {
	float:left;
}

.post-photos>img {
	display: block;
	height: 200px;
	margin:.5em .5em .5em 1em;
}


.post-photos.left>img {
	margin:.5em 1em .5em 0;
}

.post-photos :first-child, .post-photos img.img-sm:first-child {
	margin-top:0;
}

.post-photos>img.img-sm {
	height: 120px;
}

.post-photos>img.img-lg {
	height: 300px;
}

.post-photos>img.img-inline {
	display: inline-block;
	margin-left:0;
}

.post-photos>img.img-inline:first-child {
	display: inline-block;
	margin-left:1em;
}